header {
  background-color: #00000050;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}
header .logo {
  padding-top: 20px;
}
