header {
  background-color: #000000;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}
header .logo {
  padding-top: 20px;
}
@media screen and (max-width: 780px) {
  header {
    padding-left: 0;
    padding-right: 0;
    justify-content: left;
    flex-direction: column;
    height: 500px;
  }
}
