body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/cidade.jpg);
  background-position: right top;
  background-size: cover;
  background-color: #00000080;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
}
