main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
  color: #fff;
  font-family: "Opens Sans", sans-serif;
}
main h2 {
  font-size: 2.25rem;
}
main h1 {
  font-size: 4.5rem;
}
main p {
  width: 800px;
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 13px;
}
main a {
  width: 200px;
  height: 50px;
  background-color: #ffb905;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: all 0.6s;
  margin-top: 40px;
}
main a:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid #ffb905;
}
