main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
  color: #fff;
  font-family: "Opens Sans", sans-serif;
  margin-top: 100px;
  z-index: -1;
}
main h2 {
  font-size: 5.25rem;
  font-family: "Opens Sans", sans-serif;
  margin-bottom: 20px;
  margin-left: 70px;
  color: #0000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
main h1 {
  font-size: 4.5rem;
  font-family: "Opens Sans", sans-serif;
  transform: rotate(270deg);
  color: red;
  font-weight: 100;
}
main p {
  width: 350px;
  font-size: 1.5rem;
  font-weight: 100px;
  font-family: "Opens Sans", sans-serif;
}
.textos {
  display: flex;
  flex-direction: row;
  width: 700px;
  margin-bottom: 50px;
}
.informações {
  display: flex;
}
.barrinha {
  width: 5px;
  height: 50px;
  background-color: red;
  margin-right: 50px;
  border-radius: 5px 5px;
}
.itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
