main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.missao {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.visao {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.valores {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
h2 {
  color: white;
  font-size: 3.6rem;
}
p {
  width: 400px;
  font-size: 1.5rem;
  text-align: justify;
  color: white;
}
.visao:hover {
  background-color: red;
}
.valores:hover {
  background-color: red;
}
.missao:hover {
  background-color: red;
}
.quemSouEu {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.quemSouEu p {
  color: black;
}
.quemSouEu h2 {
  color: black;
}
.quemSouEu:hover {
  background-color: red;
  height: 100%;
}
@media screen and (max-width: 780px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .quemSouEu p {
    width: 300px;
  }
}
